<% layout("./layouts/boilerplate") -%>
<body style="background-color: rgb(248, 249, 241);"></body>
    <form method="post" action="/listings/<%= detail._id%>/edit?_method=PUT"  class="needs-validation" novalidate enctype="multipart/form-data">
        <label for="title" class="form-label">Enter Title: </label>
        <input type="text" name="title" id="title" value="<%= detail.title %>" class="form-control" required >
        <div class="valid-feedback">
            please enter title
          </div>
         
        <br>
        <label for="description" class="form-label">Enter description: </label>
        <textarea name="description" placeholder="Enter description" id="description" class="form-control" required><%= detail.description %></textarea>
        <div class="invalid-feedback">
            please enter description
          </div>
        <br>
        <label class="form-label">Original Listing image</label>
        <div class="mb-3" style="width: 400px; height: 200px; background-image: url(<%=detail.image.url%>);background-size: cover;">

        </div>
        <label for=" image" class="form-label">Upload New Image </label>
        <input type="file" name="image" placeholder="enter  image" id=" image" value="<%= detail.image %>" class="form-control" required>
        <div class="invalid-feedback">
            please enter url
          </div>  
        <br>
        <label for=" price" class="form-label">Enter price: </label>
        <input type="number" name="price" placeholder="enter  price" required id=" price" value=<%= detail.price %> class="form-control" >
        <div class="invalid-feedback">
            please enter price
          </div>
        <br>
        <label for="location" class="form-label">Enter Location:</label>
        <input type="text" name="location" placeholder="enter location" id="location" required value="<%= detail.location %>"  class="form-control">
        <div class="invalid-feedback">
            please enter location
          </div>
        <br>
        <label for="country" class="form-label">Enter country: </label>
        <input type="text" name="country" placeholder="enter country" id="country" value= "<%= detail.country%>"  class="form-control" required>
        <div class="invalid-feedback">
            please enter country
          </div>
        <br><button class="btn btn-outline-danger">Submit</button>
       
    </form>
    <script>
        (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
    </script>
</body>
